# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask instance folder
instance/

# Flask SQLite database files
site.db

# Environment variables file
.env

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Pytest
.pytest_cache/
